<div class="table-wrapper">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Company</th>
        <th>Role</th>
        <th>Question</th>
      </tr>
    </thead>

    <tbody>
      @for (questionSet of tableList; track questionSet) {
        <tr>
          <td>{{questionSet.companyName}}</td>
          <td>{{questionSet.companyRole}}</td>
          <td class="question-cell">{{questionSet.question}}</td>
        </tr>
      }
    </tbody>
    <!-- @if (!tableList || tableList.length === 0) {
  <div class="empty-state">
    No data found. Try searching.
  </div>
} -->
  </table>
</div>