<!-- <div class="pagination">

  @if (previous(); as prev) {

    <button
      class="nav-card"
      (click)="navigate(prev.id)"
    >

      <span class="label">
        ← Previous
      </span>

      <span class="title">
        {{ prev.title }}
      </span>

    </button>

  }

  @if (next(); as nextItem) {

    <button
      class="nav-card align-right"
      (click)="navigate(nextItem.id)"
    >

      <span class="label">
        Next →
      </span>

      <span class="title">
        {{ nextItem.title }}
      </span>

    </button>

  }

</div> -->