<!-- <section class="angular-card">
  <span class="angular-header">Bounteous X Accolite</span>
  @for (ques of question(); track ques.question) {
  <details>
     <summary>{{ques.question}}</summary>
     @if(ques.description) {
      <p>{{ques.description}}</p>
    }
     @if(ques.content?.text) {
      <h4>
        {{ques.content?.text}}
      </h4>
    }
     @if(ques.content?.list) {
      <ul>
      @for(listData of ques.content.list; track listData) {
        <li>{{listData}}</li>
      }
     </ul>
    }
    @if(ques.content.table){ 
      <table>
      <thead>
        <tr>
          @for(column of ques.content.table.columns; track column) {
            <th>{{column}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of ques.content.table.rows; track row){
          <tr>
            @for (rowData of row; track rowData){
              <td>{{rowData}}</td>
            }
          </tr>
        }
      </tbody>
     </table>
    }
    @if(ques.content.code){
      <pre><code>{{ ques.content.code }}</code></pre>
    }
  </details>
  }
</section> -->

    <app-company-detail-component>
    </app-company-detail-component>