.product-card{
    width: 8rem;
    border: 2px solid;
    background: #fff;
    border-radius: 8px;
    height: 8rem;
    place-content: center;
    text-align: center;
    cursor: pointer;
    //transform: rotate(-9deg);
}